# Ignore java class files, zipped files and hidden files.
*/.*
*.out
*.class
*.zip
*.iml

# Keep Source files.
!*/*.java

# Keep Jar provided by the course itself.
!*/*.jar

# Keep Markdown files for elucidation.
!*/*.md

# Keep Other text files or input file for testing.
!*/*.txt
